@import "helpers-dir";
$svg-quote-s: 15px;

:host {
  .quote-in ::ng-deep svg {
    transform: scaleX(-1);
  }

  .icon ::ng-deep svg {
    width: $svg-quote-s;
    height: $svg-quote-s;

    path {
      fill: $primary;
    }
  }

}

/* ---------------------- Media query ----------------------------*/
@media only screen and (min-width: $min-width-xl) {
  :host {}

}