@use '../0-helpers/variables' as *;

$svg-quote-s: 15px;

.quote-in ::ng-deep svg {
  transform: scaleX(-1);
}

.icon ::ng-deep svg {
  width: $svg-quote-s;
  height: $svg-quote-s;

  path {
    fill: var(--primary-color);
  }
}

/* ---------------------- Media query ----------------------------*/
@media only screen and (min-width: $min-width-xl) {}