@use '../0-helpers/variables' as *;


$banner-w: 290px;

:host {
  position: relative;

  .banner-desc {
    box-shadow: var(--box-shadow);
    background-color: var(--main-color);
  }

  .banner-infos {
    display: none;
  }

  .banner-infos.extended {
    display: block;
  }

  .btn-extend {
    position: absolute;
    display: block;
    right: 0;
  }

  .btn-extend .icon.extended ::ng-deep svg {
    transform: rotate(180deg);
  }

  .btn-extend .icon ::ng-deep svg {
    width: 15px;
  }
}

/* ---------------------- Media query ----------------------------*/
@media only screen and (min-width: $min-width-xl) {
  :host {
    .banner-desc {
      position: fixed;
      width: $banner-w;
      min-width: $banner-w;
      height: calc(100vh - $app-p * 2);
      transition: height $animation-duration ease-in-out;
      z-index: 99;
      overflow-y: auto;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    .banner-infos {
      display: block;
    }

    .btn-extend {
      display: none;
    }
  }
}