<div class="banner-desc">
  <app-top-desc></app-top-desc>

  <button class="btn-extend" (click)="extendBannerInfos()" [class.extended]="isBannerInfosExtended()">
    <svg viewBox="0 0 10 20">
      <path d="M 0 0 L 10 10 L 0 20"></path>
    </svg>
  </button>

  <div class="banner-infos" [class.extended]="isBannerInfosExtended()">
    <app-infos-perso></app-infos-perso>
    <div class="divider"></div>
    <app-infos-languages></app-infos-languages>
    <div class="divider"></div>
    <app-infos-skills></app-infos-skills>
    <div class="divider"></div>
  </div>
</div>