@use '../0-helpers/variables' as *;


$banner-w: 290px;

:host {
  position: relative;
}

.banner-desc {
  box-shadow: var(--box-shadow);
  background-color: var(--main-color);
}

.banner-desc .banner-infos {
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transform: translateY(-20px);
  transition: all $animation-duration ease-in-out;
}

.banner-desc .banner-infos.extended {
  visibility: visible;
  opacity: 1;
  max-height: 100%;
  transform: translateY(0);
}

.banner-desc .btn-extend {
  position: relative;
  display: block;
  width: 100%;
  background: var(--main-color-light);
  box-shadow: var(--box-shadow);
}

$svg-size: 15px;

.banner-desc .btn-extend svg {
  width: $svg-size;
  height: $svg-size;
  position: relative;
  transform: rotate(90deg);
  transition: transform $animation-duration-short ease-in-out;
}

.banner-desc .btn-extend.extended svg {
  transform: rotate(-90deg);
}

.banner-desc .btn-extend svg path {
  fill: none;
  stroke: var(--primary-color);
  stroke-width: 4px;
  stroke-linecap: round;
}

/* ---------------------- Media query ----------------------------*/
@media only screen and (min-width: $min-width-xl) {
  .banner-desc {
    position: fixed;
    width: $banner-w;
    min-width: $banner-w;
    height: calc(100vh - $app-p * 2);
    transition: height $animation-duration ease-in-out;
    z-index: 99;
    overflow-y: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .banner-desc .banner-infos {
    visibility: visible;
    opacity: 1;
    max-height: 100%;
    transform: translateY(0);
  }

  .banner-desc .btn-extend {
    display: none;
  }
}