@use '../0-helpers/variables' as *;


$banner-w: 290px;

:host {
  position: relative;
}

.banner-desc {
  box-shadow: var(--box-shadow);
  background-color: var(--main-color);
}

.banner-desc .banner-infos {
  display: none;
}

.banner-desc .banner-infos.extended {
  display: block;
}

.banner-desc .btn-extend {
  position: relative;
  display: block;
  width: 100%;
}

.banner-desc .btn-extend .icon.extended ::ng-deep svg {
  transform: rotate(180deg);
}

.banner-desc .btn-extend .icon ::ng-deep svg {
  width: 15px;
}

/* ---------------------- Media query ----------------------------*/
@media only screen and (min-width: $min-width-xl) {
  .banner-desc {
    position: fixed;
    width: $banner-w;
    min-width: $banner-w;
    height: calc(100vh - $app-p * 2);
    transition: height $animation-duration ease-in-out;
    z-index: 99;
    overflow-y: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .banner-desc .banner-infos {
    display: block;
  }

  .banner-desc .btn-extend {
    display: none;
  }
}