<p class="txt-fr">
  Développeur en prestation de service
  Veonum, Rennes, France
  10/2019

  Développeur C#
  Mission : Atos Rennes
  03/2019 – Aujourd’hui
  Refonte en client léger d’applications du système d’information de Bouygues Telecom au sein d’une équipe de 3
  personnes dans les locaux d’Atos Rennes.

  Responsabilités / Tâches :
  Refonte “from scratch” de 3 applications du système de monitoring du réseau. Passage d’un client lourd Winform à un
  client léger Angular.
  - Développement d’API Rest pour permettre l’accès aux services internes Bouygues. Utilisation du C# et d'un Framework
  interne Bouygues Telecom.
  - Développement de nouvelles fonctionnalités pour le client léger.
  - Développement de nouvelles fonctions métier en PL-SQL.
  - Responsable technique de l’équipe.
  Environnent technique :
  Angular, HTML5, SCSS, C#, SQL Oracle, PL-SQL, Tortoise SVN, Git, Azure DevOps, Postman


  11/2019 – 03/2021
  Amélioration et maintenance du système d’information de Bouygues Telecom au sein d’une équipe de 7 personnes dans les
  locaux d’Atos Rennes.
  Responsabilités / Tâches :
  -> Maintenance et amélioration du code C# d’un groupe de 10 programmes.
  -> Développement d’un site internet utilisant la nouvelle technologie Microsoft SPA Blazor.
  -> Développement d’API Rest et SOAP.
  Environnent technique :
  C#, Blazor, Html5, Css3, Scss, Windows Forms, Microsoft Visual Studio, Rest API, SOAP API, Sql Oracle.

  11/2019
  Amélioration et maintenance du système d’information de Bouygues Telecom au sein d’une équipe de 7 personnes dans les
  locaux d’Atos Rennes.
  Responsabilités / Tâches :
  -> Maintenance et amélioration du code C# d’un groupe de 10 programmes.
  -> Développement d’un site internet utilisant la nouvelle technologie Microsoft SPA Blazor.
  -> Développement d’API Rest et SOAP.
  Environnent technique :
  C#, Blazor, Html5, Css3, Scss, Windows Forms, Microsoft Visual Studio, Rest API, SOAP API, Sql Oracle.


  Développeur Java
  Sopra Stéria, Rennes, France
  06/2016 - 01/2018
  Mission :
  Amélioration et maintenance du système d’information (BIOS) de l’entreprise SFR en Java et SQL. Personnellement dans
  l’équipe PDC (Prise De Commande) d’environ 20 développeurs.

  Responsabilités / Tâches :
  -> Détection et correction des erreurs du système d’application. Le travail consistait à identifier les problèmes à
  partir des plaintes clients, identifier ensuite la source du problème dans le code afin de proposer correction,
  l’implémenter en incluant une batterie de tests sur environnement de test afin de valider le nouveau fonctionnement.
  -> Développement de nouvelles fonctionnalités. Suivi d’un cahier des charges afin de réaliser une nouvelle
  fonctionnalité en incluant tous les tests pour valider le fonctionnement en assurant une intégration continue.
  -> Analyses et corrections de client en batch ou de manière indépendante en BDD.

  Environnement technique :
  Java, Eclipse Kepler, Tortoise svn, SQL Oracle, PL SQL, Spring, Hibernate, Apache Maven.

  Stagiaire Développeur C#
  Actemium, Cesson-Sévigné, France
  02/2013 - 07/2013
  Mission :
  Développement d’un logiciel de suivi de production. A l’occasion d’un contrat avec l’entreprise Yves Rocher, Actemium
  a développé un logiciel de suivi de production nommé Prodpack. Cependant de fait de la spécificité de l’installation
  et des besoins d’Yves Rocher, ce logiciel n’est utilisable que par cette entreprise. Mon principal sujet a consisté à
  créer un logiciel de suivi de production centralisé dans une nouvelle application C# non pérenne et standardisée
  reprenant les fonctionnalités de Prodpack mais de façon modulable afin que son utilisation ne soit pas restreinte à
  l’entreprise Yves Rocher.

  Responsabilités / Tâches :
  Codage de la partie fonctionnalités en C#.
  Codage de la partie graphique en Windows Forms.
  Réalisation de la base de données SQL Server.
  Récupération de vraies données d’une base Access de l’entreprise Yves Rocher pour les tests.
  Création d’une passerelle pour migrer les données Access dans la base SQL.
  Comparaison entre les résultats du logiciel avec les résultats de Prodpack.
  Rédaction du cahier des charges et du manuel utilisateur.

  Environnement technique :
  C#, Windows Forms, Microsoft Visual Studio, Infragistics, Sql, Sql server.

  Stagiaire Développeur C++
  Cesta, Bruz, France
  02/2013 - 07/2013
  Mission :
  Développement d’un logiciel de couverture radar. Ce logiciel était en lien étroit avec un logiciel déjà développé par
  la Cesta de rayonnement d’un radar en fonction de ses caractéristiques. L’utilisateur pouvait déployer les radars à sa
  disposition sur les différents sites où le déploiement était possible, suivant cette configuration il pouvait
  observer, sa couverture radar sous différentes vues à différentes altitudes.

  Responsabilités / Tâches :
  Codage de la partie fonctionnalités en C++.
  Codage de la partie graphique en Qt.
  Récupération de matrices correspondant au rayonnement d’un radar sous format plat.
  Visualisation des résultats sous différentes vue 2D et 3D de la couverture radar.

  Environnement technique :
  C++, Qt
</p>