<div class="card-container">
  <div class="card-infos">
    <div class="title-container">
      <h4 class="title">
        {{item?.title}}
      </h4>

      <h5 class="date">
        {{item?.date}}
      </h5>
    </div>
    <h6 class="subtitle">
      {{item?.company}} - {{item?.address}}
    </h6>
    @if (!!item?.description) {
      <div class="description">
        <p class="dsc">{{item?.description?.dsc}}</p>
        @if (item?.description?.tasks) {
          <div class="subtitle tasks">
            <h5>{{sUiText().tasksTitle}}</h5>
            <p>{{item?.description?.tasks}}</p>
          </div>
        }
        @if (item?.description?.technicalEnv) {
          <div class="subtitle technicalEnv">
            <h5>{{sUiText().technicalEnvTitle}}</h5>
            <p>{{item?.description?.technicalEnv}}</p>
          </div>
        }
      </div>
    }
  </div>
  <div class="card-logo">
    @if (item?.typeExpe === typeExpeEduc) {
      <app-svg-education> </app-svg-education>
    }
    @if (item?.typeExpe === typeExpeArchi) {
      <app-svg-medal> </app-svg-medal>
    }
    @if (item?.typeExpe === typeExpeExpePro) {
      <app-svg-work> </app-svg-work>
    }
  </div>
</div>