<div class="card-container">
  <div class="card-infos">
    <div class="title-container">
      <h4 class="title">
        {{item?.title}}
      </h4>

      <h5 class="date">
        {{item?.date}}
      </h5>
    </div>
    <h6 class="subtitle">
      {{item?.company}} - {{item?.address}}
    </h6>
    <div class="description" *ngIf="!!item?.description">
      <p class="dsc">{{item?.description?.dsc}}</p>
      <div class="subtitle tasks" *ngIf="item?.description?.tasks">
        <h5>{{txt?.tasksTitle}}</h5>
        <p>{{item?.description?.tasks}}</p>
      </div>
      <div class="subtitle technicalEnv" *ngIf="item?.description?.technicalEnv">
        <h5>{{txt?.technicalEnvTitle}}</h5>
        <p>{{item?.description?.technicalEnv}}</p>
      </div>
    </div>
  </div>
  <div class="card-logo">
    <app-svg-education *ngIf="item?.typeExpe === typeExpeEduc"> </app-svg-education>
    <app-svg-medal *ngIf="item?.typeExpe === typeExpeArchi"> </app-svg-medal>
    <app-svg-work *ngIf="item?.typeExpe === typeExpeExpePro"> </app-svg-work>
  </div>
</div>