<p class="txt-fr">
  2018 - 2019 : 1 an backpacking en Amérique Latine
  2015 - 2016 : 7 mois backpacking en Asie
  2013 - 2015 : 2 ans backpacking en Australie
  2012 : 1 semestre d’études en Suède
  2011 : 2 mois au pair aux USA
  2010 : 3 mois d’études en Angleterre
</p>
<p class="txt-en">
  2018 - 2019: 1 year travelling in South America
  2015 - 2016: 7 months backpacking in Asia
  2013 - 2015: 2 years backpacking in Australia
  2012: 1 semester of studies in Linköping
  2011: 2 months as an au pair in USA
  2010: 3 months of studies in Plymouth
</p>
<p class="txt-es">
  2018 - 2019: 1 año viajando por Latina América
  2015 - 2016: 7 meses viajando por Asia
  2013 - 2015: 2 años viajando por Australia
  2012: 1 semestre de estudio en Linköping
  2011: 2 meses como au pair por USA
  2010: 3 meses estudiando en Plymouth
</p>