<div class="section-skills">
  @if (skillsFrontEnd) {
    <div class="ctn-skills-front-end">
      <h3>Front-End</h3>
      @for (item of skillsFrontEnd; track item) {
        <div class="">
          <app-skill [skill]="item"></app-skill>
        </div>
      }
    </div>
  }

  @if (skillsBackEnd) {
    <div class="ctn-skills-back-end">
      <h3>Back-End</h3>
      @for (item of skillsBackEnd; track item) {
        <div class="">
          <app-skill [skill]="item"></app-skill>
        </div>
      }
    </div>
  }

  @if (skillsBdd) {
    <div class="ctn-skills-bdd-end">
      <h3>{{uiText.bddTitle}}</h3>
      @for (item of skillsBdd; track item) {
        <div class="">
          <app-skill [skill]="item"></app-skill>
        </div>
      }
    </div>
  }

  @if (skillsVersionning) {
    <div class="ctn-skills-versionning-end">
      <h3>{{uiText.versionningTitle}}</h3>
      @for (item of skillsVersionning; track item) {
        <div class="">
          <app-skill [skill]="item"></app-skill>
        </div>
      }
    </div>
  }

  @if (skillsTools) {
    <div class="ctn-skills-tools-end">
      <h3>{{uiText.toolsTitle}}</h3>
      @for (item of skillsTools; track item) {
        <div class="">
          <app-skill [skill]="item"></app-skill>
        </div>
      }
    </div>
  }

  @if (skillsAdobe) {
    <div class="ctn-skills-adobe-end">
      <h3>Adobe</h3>
      @for (item of skillsAdobe; track item) {
        <div class="">
          <app-skill [skill]="item"></app-skill>
        </div>
      }
    </div>
  }
</div>