<div class="section-skills">
  <div class="ctn-skills-front-end" *ngIf="skillsFrontEnd">
    <h3>Front-End</h3>
    <div class="" *ngFor="let item of skillsFrontEnd">
      <app-skill [skill]="item"></app-skill>
    </div>
  </div>

  <div class="ctn-skills-back-end" *ngIf="skillsBackEnd">
    <h3>Back-End</h3>
    <div class="" *ngFor="let item of skillsBackEnd">
      <app-skill [skill]="item"></app-skill>
    </div>
  </div>

  <div class="ctn-skills-bdd-end" *ngIf="skillsBdd">
    <h3>{{txt?.bddTitle}}</h3>
    <div class="" *ngFor="let item of skillsBdd">
      <app-skill [skill]="item"></app-skill>
    </div>
  </div>

  <div class="ctn-skills-versionning-end" *ngIf="skillsVersionning">
    <h3>{{txt?.versionningTitle}}</h3>
    <div class="" *ngFor="let item of skillsVersionning">
      <app-skill [skill]="item"></app-skill>
    </div>
  </div>

  <div class="ctn-skills-tools-end" *ngIf="skillsTools">
    <h3>{{txt?.toolsTitle}}</h3>
    <div class="" *ngFor="let item of skillsTools">
      <app-skill [skill]="item"></app-skill>
    </div>
  </div>

  <div class="ctn-skills-adobe-end" *ngIf="skillsAdobe">
    <h3>Adobe</h3>
    <div class="" *ngFor="let item of skillsAdobe">
      <app-skill [skill]="item"></app-skill>
    </div>
  </div>
</div>