<ul>
  <li>
    <h6>{{ languageStore.getUiTxt().sidePanelTxt.infosPersoTitles.birthTitle}}</h6>
    <span>{{ languageStore.getInfosTxt().infosPersonnal.birth }}</span>
  </li>
  <li>
    <h6>{{ languageStore.getUiTxt().sidePanelTxt.infosPersoTitles.nationalityTitle}}</h6>
    <span>{{ languageStore.getInfosTxt().infosPersonnal.nationality }}</span>
  </li>
  <li>
    <h6>{{ languageStore.getUiTxt().sidePanelTxt.infosPersoTitles.statusTitle}}</h6>
    <span>{{ languageStore.getInfosTxt().infosPersonnal.status }}</span>
  </li>
  <li>
    <h6>{{ languageStore.getUiTxt().sidePanelTxt.infosPersoTitles.drivingLiscenceTitle}}</h6>
    <span>{{ languageStore.getInfosTxt().infosPersonnal.drivingLiscence }}</span>
  </li>
  <li>
    <h6>{{ languageStore.getUiTxt().sidePanelTxt.infosPersoTitles.carTitle}}</h6>
    <span>{{ languageStore.getInfosTxt().infosPersonnal.car }}</span>
  </li>
</ul>