<ul>
  <li>
    <h6>{{ uiText().birthTitle}}</h6>
    <span>{{ infosPersonnal().birth }}</span>
  </li>
  <li>
    <h6>{{ uiText().nationalityTitle}}</h6>
    <span>{{ infosPersonnal().nationality }}</span>
  </li>
  <li>
    <h6>{{ uiText().statusTitle}}</h6>
    <span>{{ infosPersonnal().status }}</span>
  </li>
  <li>
    <h6>{{ uiText().drivingLiscenceTitle}}</h6>
    <span>{{ infosPersonnal().drivingLiscence }}</span>
  </li>
  <li>
    <h6>{{ uiText().carTitle}}</h6>
    <span>{{ infosPersonnal().car }}</span>
  </li>
</ul>