@use '../0-helpers/variables' as *;


:host {
  ul {
    padding: 18px 26px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    li {
      list-style-type: none;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      gap: 12px;
      margin-bottom: 0;
    }

    li h6 {
      font-weight: 500;
      color: var(--inverse-main-color);
      opacity: 0.55;
      flex-shrink: 0;
    }

    li span {
      text-align: right;
      font-size: 12.5px;
    }
  }
}

/* ---------------------- Media query ----------------------------*/
@media only screen and (min-width: $min-width-xl) {
  :host {}
}
