@import "helpers-dir";

:host {
  ul {
    padding: $bannerd-p (
      $bannerd-p*2
    );

  li {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }
}
}

/* ---------------------- Media query ----------------------------*/
@media only screen and (min-width: $min-width-xl) {
  :host {}
}