<div class="banner-desc">
  <app-top-desc></app-top-desc>
  <app-infos-perso></app-infos-perso>
  <div class="divider"></div>
  <app-infos-languages></app-infos-languages>
  <div class="divider"></div>
</div>
<div class="main-content">
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias nesciunt possimus consequuntur numquam nostrum
    dignissimos exercitationem illum, libero ab mollitia officia quis voluptate nihil. Vel labore dolore at ex mollitia!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure cupiditate unde in nam eum accusantium repellendus
    adipisci amet quo laudantium voluptatem consequuntur omnis ab odio recusandae quidem debitis, ea natus?
    Culpa unde blanditiis pariatur fugit quo nihil ipsa beatae ipsum numquam distinctio? Harum libero excepturi
    veritatis doloremque doloribus suscipit saepe. Nam voluptatem beatae explicabo voluptate mollitia magnam!
    Cupiditate, non repellat!
    Perferendis asperiores optio dolor ut id minima sapiente ad ea earum assumenda? Tenetur laborum, architecto odit
    alias reiciendis maxime fugiat excepturi adipisci eum. Eos quaerat fugit in, deleniti provident sapiente?
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias nesciunt possimus consequuntur numquam nostrum
    dignissimos exercitationem illum, libero ab mollitia officia quis voluptate nihil. Vel labore dolore at ex mollitia!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure cupiditate unde in nam eum accusantium repellendus
    adipisci amet quo laudantium voluptatem consequuntur omnis ab odio recusandae quidem debitis, ea natus?
    Culpa unde blanditiis pariatur fugit quo nihil ipsa beatae ipsum numquam distinctio? Harum libero excepturi
    veritatis doloremque doloribus suscipit saepe. Nam voluptatem beatae explicabo voluptate mollitia magnam!
    Cupiditate, non repellat!
    Perferendis asperiores optio dolor ut id minima sapiente ad ea earum assumenda? Tenetur laborum, architecto odit
    alias reiciendis maxime fugiat excepturi adipisci eum. Eos quaerat fugit in, deleniti provident sapiente?
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias nesciunt possimus consequuntur numquam nostrum
    dignissimos exercitationem illum, libero ab mollitia officia quis voluptate nihil. Vel labore dolore at ex mollitia!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure cupiditate unde in nam eum accusantium repellendus
    adipisci amet quo laudantium voluptatem consequuntur omnis ab odio recusandae quidem debitis, ea natus?
    Culpa unde blanditiis pariatur fugit quo nihil ipsa beatae ipsum numquam distinctio? Harum libero excepturi
    veritatis doloremque doloribus suscipit saepe. Nam voluptatem beatae explicabo voluptate mollitia magnam!
    Cupiditate, non repellat!
    Perferendis asperiores optio dolor ut id minima sapiente ad ea earum assumenda? Tenetur laborum, architecto odit
    alias reiciendis maxime fugiat excepturi adipisci eum. Eos quaerat fugit in, deleniti provident sapiente?
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias nesciunt possimus consequuntur numquam nostrum
    dignissimos exercitationem illum, libero ab mollitia officia quis voluptate nihil. Vel labore dolore at ex mollitia!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure cupiditate unde in nam eum accusantium repellendus
    adipisci amet quo laudantium voluptatem consequuntur omnis ab odio recusandae quidem debitis, ea natus?
    Culpa unde blanditiis pariatur fugit quo nihil ipsa beatae ipsum numquam distinctio? Harum libero excepturi
    veritatis doloremque doloribus suscipit saepe. Nam voluptatem beatae explicabo voluptate mollitia magnam!
    Cupiditate, non repellat!
    Perferendis asperiores optio dolor ut id minima sapiente ad ea earum assumenda? Tenetur laborum, architecto odit
    alias reiciendis maxime fugiat excepturi adipisci eum. Eos quaerat fugit in, deleniti provident sapiente?
  </p>
  <!-- <app-page-education></app-page-education>
  <app-page-extract></app-page-extract>
  <app-page-archievements></app-page-archievements>
  <app-page-skills></app-page-skills> -->
  <div class="app-curtain" (click)="curtainClicked()"></div>
</div>