<p>
  5 ans batteur dans un groupe
  10 ans comme guitariste amateur

  12 ans de handball en club
  Coach universitaire pendant 1 an
  2 ans de Kayak en club

  Photographie / Vidéo
</p>
<p>
  5 years as a drummer in a band

  Amateur guitarist for 10 years
  Practised handball for 12 years
  University team coach for 1 year
  Practised Kayak during 2 years

  Photography
</p>
<p>
  5 años como baterista en una banda
  10 años como guitarrista amateur

  Handball por 12 años en un club
  Entrenador del equipo de la
  Universidad por un año.

  Fotografía
</p>