:host{
  .cls-1 {
    fill: #b376b2;
  }
  
  .cls-2 {
    fill: #2a1031;
  }
  
  .cls-3 {
    font-size: 321.09px;
    fill: #b678b3;
    font-family: MyriadPro-Semibold, Myriad Pro;
    font-weight: 600;
    letter-spacing: 0em;
  }
  
  .cls-4 {
    letter-spacing: 0.01em;
  }
}