<section class="section-education">
  <h2>{{txt?.archivementTitle}}</h2>
  <div class="lst-cards-container">
    <app-card [item]="expericePro" *ngFor="let expericePro of expericesPro"></app-card>
  </div>
</section>
<!-- 
<p class="txt-fr">
  Développeur en prestation de service
  Veonum, Rennes, France
  10/2019

  Développeur C#
  Mission : Atos Rennes
  03/2019 – Aujourd'hui
  Refonte en client léger d'applications du système d'information de Bouygues Telecom au sein d'une équipe de 3
  personnes dans les locaux d'Atos Rennes.

  Responsabilités / Tâches :
  Refonte “from scratch” de 3 applications du système de monitoring du réseau. Passage d'un client lourd Winform à un
  client léger Angular.
  - Développement d'API Rest pour permettre l'accès aux services internes Bouygues. Utilisation du C# et d'un Framework
  interne Bouygues Telecom.
  - Développement de nouvelles fonctionnalités pour le client léger.
  - Développement de nouvelles fonctions métier en PL-SQL.
  - Responsable technique de l'équipe.
  Environnent technique :
  Angular, HTML5, SCSS, C#, SQL Oracle, PL-SQL, Tortoise SVN, Git, Azure DevOps, Postman


  11/2019 – 03/2021
  Amélioration et maintenance du système d'information de Bouygues Telecom au sein d'une équipe de 7 personnes dans les
  locaux d'Atos Rennes.
  Responsabilités / Tâches :
  -> Maintenance et amélioration du code C# d'un groupe de 10 programmes.
  -> Développement d'un site internet utilisant la nouvelle technologie Microsoft SPA Blazor.
  -> Développement d'API Rest et SOAP.
  Environnent technique :
  C#, Blazor, Html5, Css3, Scss, Windows Forms, Microsoft Visual Studio, Rest API, SOAP API, Sql Oracle.

  11/2019
  Amélioration et maintenance du système d'information de Bouygues Telecom au sein d'une équipe de 7 personnes dans les
  locaux d'Atos Rennes.
  Responsabilités / Tâches :
  -> Maintenance et amélioration du code C# d'un groupe de 10 programmes.
  -> Développement d'un site internet utilisant la nouvelle technologie Microsoft SPA Blazor.
  -> Développement d'API Rest et SOAP.
  Environnent technique :
  C#, Blazor, Html5, Css3, Scss, Windows Forms, Microsoft Visual Studio, Rest API, SOAP API, Sql Oracle.

</p> -->