@if (project(); as p) {
  <button type="button" class="portfolio-item" [class.is-logo]="isLogo()" (click)="onItemClicked()">
    @if (p.photo) {
      <div class="portfolio-item-photo">
        <img [src]="p.photo" [alt]="p.title" class="portfolio-item-image" loading="lazy">
      </div>
    }
    <div class="portfolio-item-content">
      <h4 class="title">{{ p.title }}</h4>
      @if (p.description) {
        <p class="portfolio-item__description">{{ p.description }}</p>
      }
    </div>
  </button>
}
