@use '../0-helpers/variables' as *;

:host {
  display: block;
}

.portfolio-item {
  box-shadow: var(--box-shadow);
  background: var(--main-color-light);
  overflow: hidden;
  filter: brightness(90%);
  transition: all $animation-duration-short ease;

  &:hover {
    cursor: pointer;
    filter: brightness(100%);
  }
}

.portfolio-item .portfolio-item-photo {
  width: 100%;
  // height: 200px;
  overflow: hidden;
  position: relative;
}

.portfolio-item .portfolio-item-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform $animation-duration ease;

  &:hover {
    transform: scale(1.05);
  }
}

.portfolio-item .portfolio-item-content {
  position: relative;
  width: 100%;
  background: var(--main-color-light);
  box-shadow: var(--box-shadow);
  padding: 10px 20px;
  transform: translateY(0px);
}

.portfolio-item .portfolio-item-content .title-container {}

/* ---------------------- Media query ----------------------------*/
@media only screen and (min-width: $min-width-xxl) {
  .portfolio-item .portfolio-item-content {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 30px 20px;
    transition: transform $animation-duration ease-in-out;
    transform: none;
  }

  .portfolio-item:hover .portfolio-item-content {
    transform: translateY(0px) !important;
  }
}