/* ------------- STYLE GENERAL ------------- */
body {
  color: $txt-dark;
  font-size: 13px;
  line-height: 1.7;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: .25px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: $txt-dark;
  margin-bottom: 0;
  font-family: "Poppins", sans-serif;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

h1 {
  font-size: 18px;
}

h3 {
  font-weight: 600;
}

h4 {
  font-size: 17px;
  font-weight: 600;
}

h5 {
  font-size: 14px;
  font-weight: 600;
}

h6 {
  font-size: 13px;
  font-weight: 400;
}