@use 'sass:color';
@use '../0-helpers/helpers-dir' as helpers;

/* ------------- STYLE GENERAL ------------- */
* {
  font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: inherit;

  &:before,
  &:after {
    box-sizing: inherit;
  }
}

html {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  width: 100%;
  height: 100vh;
}

input[type="text"],
button {
  appearance: inherit;
  border-style: inherit;
}

a {
  color: inherit;
  cursor: pointer;
}

ul,
ol,
li {
  list-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  border: none;
}

button {
  background-color: helpers.$light;
  padding: 5px;
}

button:hover {
  cursor: pointer;
}

button:focus,
input:focus,
textarea:focus {
  outline: none;
}

img {
  max-height: 100%;
  height: auto;
}

section {
  margin: 40px 0 40px 0;
}

section .heading {
  text-align: center;
  padding-bottom: 40px;
}

.divider {
  background: var(--primary-color);
  width: 80%;
  height: 1px;
  opacity: 0.3;
  margin: auto;
}

.lst-cards-container {
  .card-component {
    display: block;
    margin-bottom: 25px;
  }
}

/* ------------- LANGUAGE SVG ICONS ------------- */
.dark-mode {
  $color-blackness: 50%;

  .lst-languages .svg-lang.lang-fr:not(.is-active) path {
    &.cls-2 {
      fill: color.scale(helpers.$fr-white, $blackness: $color-blackness);
    }

    &.cls-2 {
      fill: color.scale(helpers.$fr-red, $blackness: $color-blackness);
    }

    &.cls-3 {
      fill: color.scale(helpers.$fr-blue, $blackness: $color-blackness);
    }
  }

  .lst-languages .svg-lang.lang-en:not(.is-active) path {
    &.cls-2 {
      fill: color.scale(helpers.$en-white, $blackness: $color-blackness);
    }

    &.cls-3,
    &.cls-4 {
      fill: color.scale(helpers.$en-red, $blackness: $color-blackness);
    }
  }

  .lst-languages .svg-lang.lang-en:not(.is-active) circle {
    &.cls-1 {
      fill: color.scale(helpers.$en-blue, $blackness: $color-blackness);
    }
  }

  .lst-languages .svg-lang.lang-es:not(.is-active) path {
    &.cls-1 {
      fill: color.scale(helpers.$es-red, $blackness: $color-blackness);
    }

    &.cls-2 {
      fill: color.scale(helpers.$es-yellow, $blackness: $color-blackness);
    }
  }
}

.light-mode {
  $color-lightness: 70%;

  .lst-languages .svg-lang.lang-fr:not(.is-active) path {
    &.cls-2 {
      fill: color.scale(helpers.$fr-white, $lightness: $color-lightness);
    }

    &.cls-2 {
      fill: color.scale(helpers.$fr-red, $lightness: $color-lightness);
    }

    &.cls-3 {
      fill: color.scale(helpers.$fr-blue, $lightness: $color-lightness);
    }
  }

  .lst-languages .svg-lang.lang-en:not(.is-active) path {
    &.cls-2 {
      fill: color.scale(helpers.$en-white, $lightness: $color-lightness);
    }

    &.cls-3,
    &.cls-4 {
      fill: color.scale(helpers.$en-red, $lightness: $color-lightness);
    }
  }

  .lst-languages .svg-lang.lang-en:not(.is-active) circle {
    &.cls-1 {
      fill: color.scale(helpers.$en-blue, $lightness: $color-lightness);
    }
  }

  .lst-languages .svg-lang.lang-es:not(.is-active) path {
    &.cls-1 {
      fill: color.scale(helpers.$es-red, $lightness: $color-lightness);
    }

    &.cls-2 {
      fill: color.scale(helpers.$es-yellow, $lightness: $color-lightness);
    }
  }
}