:host{
  .cls-1 {
    fill: #fefefe;
  }

  .cls-2 {
    fill: #819cc8;
  }

  .cls-3 {
    fill: #819cc9;
  }

  .cls-4 {
    fill: #989898;
  }

  .cls-5 {
    fill: #999899;
  }

  .cls-6 {
    fill: #fefeff;
  }

  .cls-7 {
    fill: #fff;
  }
}