@use '../0-helpers/variables' as *;


:host {
  ul {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 10px;
    row-gap: 10px;
  }
}

/* ---------------------- Media query ----------------------------*/
@media only screen and (min-width: $min-width-m) {
  :host {
    ul {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media only screen and (min-width: $min-width-l) {
  :host {
    ul {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}