@use '../0-helpers/variables' as *;


ul.section-contact-informations {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 10px;
  row-gap: 10px;
}

.section-contact-informations .contact-info {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 4px;
  gap: 10px;
}

.section-contact-informations .contact-info .label {
  font-weight: bold;
}

.section-contact-informations .contact-box-3 .contact-info {
  display: block;
}

/* ---------------------- Media query ----------------------------*/
@media only screen and (min-width: $min-width-m) {
  ul.section-contact-informations {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: $min-width-l) {
  ul.section-contact-informations {
    grid-template-columns: 1fr 1fr 1fr;
  }
}