@use './dark-theme' as dark;
@use './light-theme' as light;

@mixin theme($theme) {
  @if $theme =='dark-mode' {
    @include dark.color-mixin();
  }

  @else {
    @include light.color-mixin();
  }
}

.dark-mode {
  @include dark.color-mixin();
  transition: all 0.4s ease;
}

.light-mode {
  @include light.color-mixin();
  transition: all 0.4s ease;
}

:root {
  .dark-mode {
    --main-bg-color: #{dark.$main-bg-color};
    --main-txt-color: #{dark.$main-txt-color};
  }

  .light-mode {
    --main-bg-color: #{light.$main-bg-color};
    --main-txt-color: #{light.$main-txt-color};
  }
}