/**************************************
 * Colors
**************************************/
$grey: #a2a29d;
$grey-light: #f4f4f6;
$grey-dark: #7b7b71;

$light: #fff !default;
$dark: #202733 !default;

$fr-blue: #2158a6;
$fr-red: #da202b;
$fr-white: #fff;

$en-blue: #2158a6;
$en-red: #da202b;
$en-white: #fff;

$es-red: #da202b;
$es-yellow: #fcda43;

/*******************************
 * Variables Globales
 *******************************/
$app-p: 15px;
$desc-w: 290px;
$animation-duration-short: 0.2s;
$animation-duration: 0.5s;

/*******************************
 * Navigation
 *******************************/
$nav-h: 64px;
$nav-w: 80px;
$nav-w-opened: 230px;
$burger-w: 50px;

/*******************************
 * Banner
 *******************************/
$bannerd-w: 290px;
$bannerd-p: 15px;

/*******************************
 * Content
 *******************************/
$content-p: 30px;

/*******************************
 * Slide
 *******************************/
$slide-width: 300px;
$slide-padding-lr: 10px;

/*******************************
 * Media Query
 *******************************/
$min-width-xs: 350px;
$min-width-s: 450px;
$min-width-m: 650px;
$min-width-l: 850px;
$min-width-xl: 1020px;
$min-width-xxl: 1445px;
