/**************************************
 * Colors
**************************************/
$primary: #556789;
$primary-light: #8395b9;
$primary-dark: #293d5c;

$secondary: #f5d798;
$secondary-light: #ffffc9;
$secondary-dark: #c1a669;

$light: #fafafa;
$dark: #202733;

$txt-light: $light;
$txt-dark: $dark;

$background: $light;