@use '../0-helpers/variables' as *;

:host {
  .cls-1 {
    fill: none;
    stroke: $fr-white;
    stroke-miterlimit: 10;
    stroke-width: 0.5px;
  }

  .cls-2 {
    fill: $fr-red;
  }

  .cls-3 {
    fill: $fr-blue;
  }
}