@use '../0-helpers/variables' as *;


:host {
  height: 100%;
  display: block;

  .card-container {
    position: relative;
    box-shadow: $box-shadow;
    overflow-y: hidden;
    height: 100%;
  }

  .card-infos {
    position: relative;
    width: 100%;
    background-color: var(--main-bg-color);
    padding: 30px 20px;
  }

  .title-container {
    margin-bottom: 20px;
  }
}
