<div class="skill">

  <div class="logo">
    <app-svg-angular *ngIf="skill.name === 'Angular'"></app-svg-angular>
    <app-svg-vuejs *ngIf="skill.name === 'VueJs'"></app-svg-vuejs>
    <app-svg-blazor *ngIf="skill.name === 'Blazor'"></app-svg-blazor>
    <app-svg-html *ngIf="skill.name === 'HTML5'"></app-svg-html>
    <app-svg-css *ngIf="skill.name === 'CSS3'"></app-svg-css>
    <app-svg-sass *ngIf="skill.name === 'SCSS'"></app-svg-sass>
    <app-svg-typescript *ngIf="skill.name === 'TypeScript'"></app-svg-typescript>
    <app-svg-javascript *ngIf="skill.name === 'Javascript'"></app-svg-javascript>
    <app-svg-wordpress *ngIf="skill.name === 'Wordpress'"></app-svg-wordpress>
    <app-svg-divi *ngIf="skill.name === 'Divi'"></app-svg-divi>

    <app-svg-c-sharp *ngIf="skill.name === 'C#'"></app-svg-c-sharp>
    <app-svg-java *ngIf="skill.name === 'Java'"></app-svg-java>
    <app-svg-c-plus-plus *ngIf="skill.name === 'C++'"></app-svg-c-plus-plus>

    <app-svg-sql-oracle *ngIf="skill.name === 'Oracle'"></app-svg-sql-oracle>
    <app-svg-mysql *ngIf="skill.name === 'MySql'"></app-svg-mysql>

    <app-svg-git *ngIf="skill.name === 'Git'"></app-svg-git>
    <app-svg-svn *ngIf="skill.name === 'Svn'"></app-svg-svn>

    <app-svg-visual-studio *ngIf="skill.name === 'Visual Studio'"></app-svg-visual-studio>
    <app-svg-visual-studio-code *ngIf="skill.name === 'Visual Studio Code'"></app-svg-visual-studio-code>
    <app-svg-atom *ngIf="skill.name === 'Atom'"></app-svg-atom>
    <app-svg-gitkraken *ngIf="skill.name === 'GitKraken'"></app-svg-gitkraken>
    <app-svg-sourcetree *ngIf="skill.name === 'SourceTree'"></app-svg-sourcetree>

    <app-svg-premiere-pro *ngIf="skill.name === 'Premiere'"></app-svg-premiere-pro>
    <app-svg-after-effects *ngIf="skill.name === 'After Effects'"></app-svg-after-effects>
    <app-svg-illustrator *ngIf="skill.name === 'Illustrator'"></app-svg-illustrator>
    <app-svg-lightroom *ngIf="skill.name === 'Lightroom'"></app-svg-lightroom>
    <app-svg-photoshop *ngIf="skill.name === 'Photoshop'"></app-svg-photoshop>

    <app-svg-fr *ngIf="skill.name === 'French'"></app-svg-fr>
    <app-svg-en *ngIf="skill.name === 'English'"></app-svg-en>
    <app-svg-es *ngIf="skill.name === 'Spanish'"></app-svg-es>

  </div>
  <div class="skill-infos">
    <div class="desc">
      <h5>{{skill.name}}</h5>
      <h5>{{skill.power}}%</h5>
    </div>

    <svg viewBox="0 0 100 1.72" preserveAspectRatio="none">
      <path class="outside-bar" d="M 0,0.86 L 100,0.86" fill-opacity="0"></path>
      <path class="inside-bar" d="M 0,0.86 L 100,0.86" [style]="getBarWidth()"></path>
    </svg>
    <!-- <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"
      >
    </div> -->
  </div>
</div>