<div class="skill">

  <div class="logo">
    @if (skill.name === 'Angular') {
      <app-svg-angular></app-svg-angular>
    }
    @if (skill.name === 'VueJs') {
      <app-svg-vuejs></app-svg-vuejs>
    }
    @if (skill.name === 'Blazor') {
      <app-svg-blazor></app-svg-blazor>
    }
    @if (skill.name === 'HTML5') {
      <app-svg-html></app-svg-html>
    }
    @if (skill.name === 'CSS3') {
      <app-svg-css></app-svg-css>
    }
    @if (skill.name === 'SCSS') {
      <app-svg-sass></app-svg-sass>
    }
    @if (skill.name === 'TypeScript') {
      <app-svg-typescript></app-svg-typescript>
    }
    @if (skill.name === 'Javascript') {
      <app-svg-javascript></app-svg-javascript>
    }
    @if (skill.name === 'Wordpress') {
      <app-svg-wordpress></app-svg-wordpress>
    }
    @if (skill.name === 'Divi') {
      <app-svg-divi></app-svg-divi>
    }

    @if (skill.name === 'C#') {
      <app-svg-c-sharp></app-svg-c-sharp>
    }
    @if (skill.name === 'Java') {
      <app-svg-java></app-svg-java>
    }
    @if (skill.name === 'C++') {
      <app-svg-c-plus-plus></app-svg-c-plus-plus>
    }

    @if (skill.name === 'Oracle') {
      <app-svg-sql-oracle></app-svg-sql-oracle>
    }
    @if (skill.name === 'MySql') {
      <app-svg-mysql></app-svg-mysql>
    }

    @if (skill.name === 'Git') {
      <app-svg-git></app-svg-git>
    }
    @if (skill.name === 'Svn') {
      <app-svg-svn></app-svg-svn>
    }

    @if (skill.name === 'Visual Studio') {
      <app-svg-visual-studio></app-svg-visual-studio>
    }
    @if (skill.name === 'Visual Studio Code') {
      <app-svg-visual-studio-code></app-svg-visual-studio-code>
    }
    @if (skill.name === 'Atom') {
      <app-svg-atom></app-svg-atom>
    }
    @if (skill.name === 'GitKraken') {
      <app-svg-gitkraken></app-svg-gitkraken>
    }
    @if (skill.name === 'SourceTree') {
      <app-svg-sourcetree></app-svg-sourcetree>
    }

    @if (skill.name === 'Premiere') {
      <app-svg-premiere-pro></app-svg-premiere-pro>
    }
    @if (skill.name === 'After Effects') {
      <app-svg-after-effects></app-svg-after-effects>
    }
    @if (skill.name === 'Illustrator') {
      <app-svg-illustrator></app-svg-illustrator>
    }
    @if (skill.name === 'Lightroom') {
      <app-svg-lightroom></app-svg-lightroom>
    }
    @if (skill.name === 'Photoshop') {
      <app-svg-photoshop></app-svg-photoshop>
    }

    @if (skill.name === 'French') {
      <app-svg-fr></app-svg-fr>
    }
    @if (skill.name === 'English') {
      <app-svg-en></app-svg-en>
    }
    @if (skill.name === 'Spanish') {
      <app-svg-es></app-svg-es>
    }

  </div>
  <div class="skill-infos">
    <div class="desc">
      <h5>{{skill.name}}</h5>
      <h5>{{skill.power}}%</h5>
    </div>

    <svg viewBox="0 0 100 1.72" preserveAspectRatio="none">
      <path class="outside-bar" d="M 0,0.86 L 100,0.86" fill-opacity="0"></path>
      <path class="inside-bar" d="M 0,0.86 L 100,0.86" [style]="getBarWidth()"></path>
    </svg>
    <!-- <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"
    >
  </div> -->
</div>
</div>