:host{
  .cls-1,
  .cls-3 {
    fill: #9ec4e7;
  
  .cls-2 {
    fill: #121034;
  
  .cls-3 {
    font-size: 321.09px;
    font-family: MyriadPro-Semibold, Myriad Pro;
    font-weight: 600;
    letter-spacing: -0.01em;
  
  .cls-4 {
    letter-spacing: 0.01em;
  }
}