<p class="txt-fr">
  Développeur Web
  Go2sport.fr
  01/2019 - 03/2019
  Développement d’un site internet professionnel pour un membre de ma famille
  Responsabilités / Tâches :
  -> Chartre Graphique
  -> Design du site
  -> Développement du site internet.
  Environnent technique :
  Html5, Css3, Scss, VueJs
  Volontaire dans une NGO
  All Hands and Hearts, Oaxaca, Mexique
  03/2019 - 07/2019
  Volontaire pour All Hand and Hearts à Oaxaca au Mexique afin de reconstruire une école.
  -> Travail sur le site en tant que volontaire mais aussi en tant que chef d’équipe.
  -> Remplacement de la personne en charge du marketing ainsi que de la personne en charge des relations avec la
  communauté pendant leurs vacances.
  -> En charge des classes d’anglais pour la communauté.

  Professeur de français et d’anglais
  Rennes, France / Antofagasta & Santiago, Chile
  06/2017 - 02/2019
  Classes particulières d’anglais et de français principalement centrées sur la conversation orale, apprentissage du
  vocabulaire, des règles de grammaires, le tout de manière ludique et pédagogique.
</p>
<p class="txt-en">
  Web Developer
  Go2sport.fr
  01/2019 - 03/2019
  Development of a professional website for a family member.
  Responsibilities / Tasks:
  -> Graphic charter
  -> Design of the site
  -> Development of the website
  Technical environment:
  Html5, Css3, Scss, VueJs

  Volunteer for an GNO
  All Hands And Hearts, Oaxaca, Mexico
  03/2019 - 07/2019
  Description:
  Worked as a volunteer for All Hands And Hearts in Oaxaca Mexico reconstruing a school
  Work on the work site as volunteer but also as Team Leader
  Covered the position of Marketing Content Creator (MCC) and Community Coordinator (CC) during their breaks
  In charged of the English Classes for the community

  Private English / FRENCH Teacher
  Rennes, France / Santiago, Chile
  Description:
  Providing individual specific English and French language tuition. Primarily focusing on the development of core
  conversational skills and fluidity, vocabulary improvement and expansion, and the introduction and application of
  fundamental principles of grammar.
</p>
<p class="txt-es">
  Desarrollador Web
  Go2sport.fr
  01/2019 - 03/2019
  Desarrollo de un sitio web profesional para un miembro familiar.
  Responsabilidades / Tareas:
  -> Identidad Corporativa
  -> Diseño del sitio web
  -> Desarrollo del sitio web
  Tecnologías utilizadas:
  Html5, Css3, Scss, VueJs
  Voluntario en ONG
  All Hands and Hearts, Oaxaca, Mexique
  03/2019 - 07/2019
  Voluntario para All Hand and Hearts en Oaxaca México para reconstruir una escuela que fue destruida por un terremoto.
  -> Trabajé en la obra como voluntario, pero también como jefe de equipo.
  -> En cargo de reemplazar a las personas en cargo del marketing y la de la relación con la comunidad mientras están en
  periodo de vacaciones.
  -> En cargo de las clases de inglés por la comunidad.

  Profesor de inglés / Frances
  Rennes, France / Antofagasta & Santiago, Chile
  06/2017 - 02/2019
  Enseñanza del idioma inglés en forma individual y acorde a las características de cada alumno. Principalmente enfocado
  en el desarrollo de capacidades de conversación y en su fluidez. Al mismo tiempo trabajo en la mejora y ampliación del
  vocabulario y en la introducción y aplicación de los principios fundamentales de la gramática.
</p>