@use '../0-helpers/helpers-dir' as helpers;

.btn {
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 20px;
  padding: 18px 50px;
  border-radius: 3px;
  transition: all 0.2s ease-in 0s;
  &:hover {
    text-decoration: none;
  }
}

.bg-dark {
  .btn {
    border: 1px solid helpers.$light;
    color: helpers.$light;
    &:hover {
      background: helpers.$light;
      color: var(--primary-color);
    }
  }
}

.bg-light {
  .btn {
    border: 1px solid helpers.$dark;
    color: helpers.$dark;
    &:hover {
      background: helpers.$dark;
      color: var(--primary-color);
    }
  }
}
