:host {
  .cls-1 {
    fill: #e44f26;
  }

  .cls-2 {
    fill: #010101;
  }

  .cls-3 {
    fill: #020202;
  }

  .cls-4 {
    fill: #f1672a;
  }

  .cls-5 {
    fill: #ebebeb;
  }

  .cls-6 {
    fill: #fff;
  }
}
