<div class="app" [class]="onLang()" [class.is-opened]="isOpen()">
  <div class="site-content">
    <div class="banner-desc">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, aperiam non. Quidem, qui nam odit incidunt
        ipsam
        quas reprehenderit minima laborum amet recusandae beatae similique cumque esse, nulla, sunt non?
        Itaque ut mollitia numquam sapiente. Omnis tenetur incidunt sequi, placeat provident consequatur fugit numquam
        rem?
        Harum ab eligendi ut eaque iure explicabo reprehenderit laborum voluptas dignissimos itaque! Assumenda,
        explicabo
        dolorem!
        Consectetur fuga quibusdam asperiores consequatur deserunt, impedit exercitationem provident ratione recusandae
        reprehenderit deleniti necessitatibus ea perferendis nostrum officia perspiciatis delectus eaque. Fuga
        voluptatibus,
        perferendis hic optio cum rem corrupti quod.
        Dolorum culpa magni voluptates ipsa ducimus? Harum quas porro molestias ipsum possimus numquam, itaque
        consequatur
        minus perferendis, mollitia a nisi nostrum, nam tenetur dolores iure. Libero laboriosam quaerat rerum porro.
        Numquam, deleniti incidunt sit ut aspernatur eligendi soluta illo? Quaerat reprehenderit omnis enim quae. A,
        rem!
        Quia eligendi officiis odio nisi eveniet odit possimus hic impedit itaque, explicabo adipisci. Sequi.
        Atque provident quibusdam dolorum neque ad voluptates cupiditate laborum deleniti debitis facere nam distinctio
        est
        et dolores cum aliquid dignissimos, culpa accusamus illo. Error repellat dicta minima iste, in reiciendis.
        Magni recusandae mollitia sit asperiores ut reiciendis repellendus minima quibusdam eum. Nesciunt at enim
        itaque?
        Incidunt doloremque pariatur nisi, odio maxime facere quasi iusto voluptate obcaecati in. Minima, consequuntur
        ipsam.
        Dignissimos provident dolore facere ipsa numquam debitis facilis molestiae quisquam eos? Dignissimos quas
        doloremque
        at sapiente minima. Voluptas laboriosam recusandae quibusdam corporis. Voluptates cum nulla beatae quas illo
        amet
        explicabo.
        Aliquid sequi dolore debitis quo earum id fugit voluptatum nam possimus exercitationem amet enim, veritatis
        obcaecati cum iure? Totam saepe eos nostrum odit repellendus porro nihil voluptatibus tempora quia perspiciatis!
        Ipsum, reiciendis adipisci possimus a, nihil omnis quaerat sit ipsa excepturi, quibusdam soluta voluptatibus
        nobis
        nam sequi! Consequatur, dolorum suscipit natus fuga facere ipsam sit commodi maiores fugit dolores mollitia.
      </p>
    </div>
    <div class="main-content">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, aperiam non. Quidem, qui nam odit incidunt
        ipsam
        quas reprehenderit minima laborum amet recusandae beatae similique cumque esse, nulla, sunt non?
        Itaque ut mollitia numquam sapiente. Omnis tenetur incidunt sequi, placeat provident consequatur fugit numquam
        rem?
        Harum ab eligendi ut eaque iure explicabo reprehenderit laborum voluptas dignissimos itaque! Assumenda,
        explicabo
        dolorem!
        Consectetur fuga quibusdam asperiores consequatur deserunt, impedit exercitationem provident ratione recusandae
        reprehenderit deleniti necessitatibus ea perferendis nostrum officia perspiciatis delectus eaque. Fuga
        voluptatibus,
        perferendis hic optio cum rem corrupti quod.
        Dolorum culpa magni voluptates ipsa ducimus? Harum quas porro molestias ipsum possimus numquam, itaque
        consequatur
        minus perferendis, mollitia a nisi nostrum, nam tenetur dolores iure. Libero laboriosam quaerat rerum porro.
        Numquam, deleniti incidunt sit ut aspernatur eligendi soluta illo? Quaerat reprehenderit omnis enim quae. A,
        rem!
        Quia eligendi officiis odio nisi eveniet odit possimus hic impedit itaque, explicabo adipisci. Sequi.
        Atque provident quibusdam dolorum neque ad voluptates cupiditate laborum deleniti debitis facere nam distinctio
        est
        et dolores cum aliquid dignissimos, culpa accusamus illo. Error repellat dicta minima iste, in reiciendis.
        Magni recusandae mollitia sit asperiores ut reiciendis repellendus minima quibusdam eum. Nesciunt at enim
        itaque?
        Incidunt doloremque pariatur nisi, odio maxime facere quasi iusto voluptate obcaecati in. Minima, consequuntur
        ipsam.
        Dignissimos provident dolore facere ipsa numquam debitis facilis molestiae quisquam eos? Dignissimos quas
        doloremque
        at sapiente minima. Voluptas laboriosam recusandae quibusdam corporis. Voluptates cum nulla beatae quas illo
        amet
        explicabo.
        Aliquid sequi dolore debitis quo earum id fugit voluptatum nam possimus exercitationem amet enim, veritatis
        obcaecati cum iure? Totam saepe eos nostrum odit repellendus porro nihil voluptatibus tempora quia perspiciatis!
        Ipsum, reiciendis adipisci possimus a, nihil omnis quaerat sit ipsa excepturi, quibusdam soluta voluptatibus
        nobis
        nam sequi! Consequatur, dolorum suscipit natus fuga facere ipsam sit commodi maiores fugit dolores mollitia.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, aperiam non. Quidem, qui nam odit incidunt
        ipsam
        quas reprehenderit minima laborum amet recusandae beatae similique cumque esse, nulla, sunt non?
        Itaque ut mollitia numquam sapiente. Omnis tenetur incidunt sequi, placeat provident consequatur fugit numquam
        rem?
        Harum ab eligendi ut eaque iure explicabo reprehenderit laborum voluptas dignissimos itaque! Assumenda,
        explicabo
        dolorem!
        Consectetur fuga quibusdam asperiores consequatur deserunt, impedit exercitationem provident ratione recusandae
        reprehenderit deleniti necessitatibus ea perferendis nostrum officia perspiciatis delectus eaque. Fuga
        voluptatibus,
        perferendis hic optio cum rem corrupti quod.
        Dolorum culpa magni voluptates ipsa ducimus? Harum quas porro molestias ipsum possimus numquam, itaque
        consequatur
        minus perferendis, mollitia a nisi nostrum, nam tenetur dolores iure. Libero laboriosam quaerat rerum porro.
        Numquam, deleniti incidunt sit ut aspernatur eligendi soluta illo? Quaerat reprehenderit omnis enim quae. A,
        rem!
        Quia eligendi officiis odio nisi eveniet odit possimus hic impedit itaque, explicabo adipisci. Sequi.
        Atque provident quibusdam dolorum neque ad voluptates cupiditate laborum deleniti debitis facere nam distinctio
        est
        et dolores cum aliquid dignissimos, culpa accusamus illo. Error repellat dicta minima iste, in reiciendis.
        Magni recusandae mollitia sit asperiores ut reiciendis repellendus minima quibusdam eum. Nesciunt at enim
        itaque?
        Incidunt doloremque pariatur nisi, odio maxime facere quasi iusto voluptate obcaecati in. Minima, consequuntur
        ipsam.
        Dignissimos provident dolore facere ipsa numquam debitis facilis molestiae quisquam eos? Dignissimos quas
        doloremque
        at sapiente minima. Voluptas laboriosam recusandae quibusdam corporis. Voluptates cum nulla beatae quas illo
        amet
        explicabo.
        Aliquid sequi dolore debitis quo earum id fugit voluptatum nam possimus exercitationem amet enim, veritatis
        obcaecati cum iure? Totam saepe eos nostrum odit repellendus porro nihil voluptatibus tempora quia perspiciatis!
        Ipsum, reiciendis adipisci possimus a, nihil omnis quaerat sit ipsa excepturi, quibusdam soluta voluptatibus
        nobis
        nam sequi! Consequatur, dolorum suscipit natus fuga facere ipsam sit commodi maiores fugit dolores mollitia.
      </p>
      <div class="app-curtain"></div>
    </div>

  </div>
  <app-navigation></app-navigation>

  <!-- <router-outlet></router-outlet> -->
</div>