@use '../0-helpers/variables' as *;

.card-container {
  position: relative;
  padding: $slide-padding-lr;
  box-shadow: none;
}

$card-padding: 28px;

.card-infos {
  position: relative;
  background: var(--main-color-light);
  border: 1px solid var(--hairline);
  border-radius: $radius;
  box-shadow: var(--box-shadow);
  padding: $card-padding;
}

.card-infos h5 {
  font-weight: 700;
  font-size: 17px;
  padding-right: 80px;
  color: var(--inverse-main-color);
}

.card-infos h6 {
  color: var(--inverse-main-color);
  opacity: 0.6;
  font-size: 12px;
  font-style: normal;
  margin-top: 2px;
  margin-bottom: 0;
}

.card-infos img {
  position: absolute;
  right: $card-padding;
  top: -18px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px solid var(--main-color-light);
  box-shadow: var(--box-shadow);
  object-fit: cover;
}

.card-infos p.text-ellipsis {
  margin-top: 16px;
  color: var(--inverse-main-color);
  line-height: 1.65;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 6;
  -webkit-line-clamp: 6;
  transition: all 0.5s ease-in-out;
}

.card-infos p.text-ellipsis.is-text-full {
  overflow: visible;
  text-overflow: inherit;
  display: block;
}

.text-hidden-container {
  padding: $card-padding + $slide-padding-lr;
  visibility: hidden;
  position: absolute;
}

.subtitle {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2px 12px;
}

.subtitle h6 {
  margin: 0;
}

.contact-infos {
  display: flex;
  flex-wrap: wrap;
  gap: 2px 12px;
}

.container-btn {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  margin-top: 12px;
}

$svg-size: 12px;

.card-infos button {
  width: $svg-size + 14px;
  height: $svg-size + 14px;
  border-radius: 50%;
  transition: transform $animation-duration-short ease-in-out, background-color $animation-duration-short ease;
  transform: rotate(-90deg);
  background: transparent;

  &:hover {
    background: var(--main-color);
  }
}

.card-infos button.is-truncated {
  transform: rotate(90deg);
}

.card-infos button svg {
  width: $svg-size;
  height: $svg-size;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-infos button svg path {
  fill: none;
  stroke: var(--primary-color);
  stroke-width: 4px;
  stroke-linecap: round;
  opacity: 0.6;
  transition: opacity 0.4s ease-in-out;
}

.card-infos button:hover svg path {
  opacity: 1;
}

/* ---------------------- Media query ----------------------------*/
@media only screen and (min-width: $min-width-xl) {
  .card-infos p.text-ellipsis {
    line-clamp: 4;
    -webkit-line-clamp: 4;
  }
}
