@import "helpers-dir";

$img-s: 120px;

/*------------- ABOUT -------------*/
.about {
  padding-top: 100px;

  .profile-picture {
    text-align: center;
    margin: 0 auto;
    float: none !important;
    width: $img-s;
    height: $img-s;

    img {
      border-radius: 50%;
    }
  }

  .heading h1 {

    .family-name {
      text-transform: uppercase;
    }
  }

  .heading h3 {}
}