@use 'sass:math';
@use '../0-helpers/variables' as *;


:host {
  width: 100%;
  padding: 0 $content-p;
  position: relative;
  display: block;

  .section-footer {
    width: 100%;
    background: var(--main-color-light);
    padding: math.div($content-p, 2);

    display: flex;
    justify-content: space-between;
  }
}

/* ---------------------- Media query ----------------------------*/
@media only screen and (min-width: $min-width-xl) {}