<section id="skills" class="bg-light">
  <div class="divider"></div>
  <div class="heading">
    <h2 class="txt-fr">Skills</h2>
    <h2 class="txt-en">Skills</h2>
    <h2 class="txt-es">Skills</h2>
    <div class="container">
      <div class="ctn-skills-front-end" *ngIf="skillsFrontEnd$ | async as skillsFrontEnd">
        <h3>Front-End</h3>
        <div class="" *ngFor="let item of skillsFrontEnd">
          <app-skill [skill]="item"></app-skill>
        </div>
      </div>

      <div class="ctn-skills-front-end" *ngIf="skillsBackEnd$ | async as skillsBackEnd">
        <h3>Back-End</h3>
        <div class="" *ngFor="let item of skillsBackEnd">
          <app-skill [skill]="item"></app-skill>
        </div>
      </div>

      <div class="ctn-skills-front-end" *ngIf="skillsBdd$ | async as skillsBdd">
        <h3>Base de données</h3>
        <div class="" *ngFor="let item of skillsBdd">
          <app-skill [skill]="item"></app-skill>
        </div>
      </div>

      <div class="ctn-skills-front-end" *ngIf="skillsVersionning$ | async as skillsVersionning">
        <h3>Versionning</h3>
        <div class="" *ngFor="let item of skillsVersionning">
          <app-skill [skill]="item"></app-skill>
        </div>
      </div>

      <div class="ctn-skills-front-end" *ngIf="skillsTools$ | async as skillsTools">
        <h3>Tools</h3>
        <div class="" *ngFor="let item of skillsTools">
          <app-skill [skill]="item"></app-skill>
        </div>
      </div>

      <div class="ctn-skills-front-end" *ngIf="skillsAdobe$ | async as skillsAdobe">
        <h3>Adobe</h3>
        <div class="" *ngFor="let item of skillsAdobe">
          <app-skill [skill]="item"></app-skill>
        </div>
      </div>

      <div class="ctn-skills-front-end" *ngIf="skillsLangages$ | async as skillsLangages">
        <h3>Languages</h3>
        <div class="" *ngFor="let item of skillsLangages">
          <app-skill [skill]="item"></app-skill>
        </div>
      </div>
    </div>
  </div>



</section>