<div class="about">
  <div class="item profile-picture">
    <img src='./assets/images/PhotoCv.jpg' alt="Math" class="img-circle">
    <div class="lamp-glow">
      <div class="lamp">
      </div>
    </div>
  </div>
  <div class="item heading">
    <h1>{{sInfos().name}} <span class="family-name">{{sInfos().famillyName}}</span> </h1>
    <h3>{{sInfos().title}}</h3>
    <!-- <a href="docs/Mathieu_Le_Bellec_Cv_En.pdf" class="btn btn-light">Download Curriculum</a> -->
  </div>
  <div class="divider"></div>
  <div class="languages">
    <p>{{sUiText().sidePanelTxt.topDescTitles.languageTitle}}</p>
    <div class="lst-languages">
      <app-svg-fr (click)="switchToFrench()"></app-svg-fr>
      <app-svg-en (click)="switchToEnglish()"></app-svg-en>
      <app-svg-es (click)="switchToSpanish()"></app-svg-es>
    </div>
  </div>
  <div class="divider"></div>
  <div class="curriculum">
    <a [href]="sInfos().curriculum" target="_blank">
      <p>{{sUiText().sidePanelTxt.topDescTitles.cvTitle}}</p>
      <app-svg-download></app-svg-download>
    </a>
  </div>
  <div class="divider"></div>
  <app-lst-socials></app-lst-socials>
</div>