<section class="section-life-timeline">
  <h2>{{txt?.lifeTimelineTitle}}</h2>
  <div class="categories-grid">
    <nav class="categories">
      <ul class="life-timeline-filter">
        <li><a (click)="filterTimelineEvents()" [class.active]="isActif()">{{txt?.allExpeTitle}}</a></li>
        <li><a (click)="filterTimelineEvents(typeExpeEduc)"
            [class.active]="isActif(typeExpeEduc)">{{txt?.educationTitle}}</a></li>
        <li><a (click)="filterTimelineEvents(typeExpeExpePro)"
            [class.active]="isActif(typeExpeExpePro)">{{txt?.expeProTitle}}</a></li>
        <li><a (click)="filterTimelineEvents(typeExpeArchi)"
            [class.active]="isActif(typeExpeArchi)">{{txt?.archivementTitle}}</a></li>
      </ul>
    </nav>
  </div>
  <div class="lst-cards-container" [@filterAnimation]="timelineEventsFilteredTotal">
    <app-life-experience [item]="event" *ngFor="let event of timelineEventsFiltered"></app-life-experience>
  </div>
</section>