@use '../0-helpers/variables' as *;

.lst-cards-container {
  position: relative;
  margin-top: 30px;
}

.lst-cards-container:before {
  background: var(--main-color-light);
  content: '';
  margin-left: -4px;
  position: absolute;
  top: 0;
  left: 2em;
  width: 2px;
  height: 100%;
}
$scale-start: 0.98;
$translateY-start: 5px;

// Timeline item animation
.timeline-item-wrapper {
  opacity: 0;
  transform: translateY($translateY-start) scale($scale-start);
  transition: all $animation-duration-short ease-out;
}

.timeline-item-wrapper.fade-in {
  opacity: 1;
  transform: translateY(0) scale(1);
}

// Container animation state
.lst-cards-container.animating .timeline-item-wrapper {
  opacity: 0;
  transform: translateY(-$translateY-start) scale($scale-start);
}

/* ---------------------- Media query ----------------------------*/
@media only screen and (min-width: $min-width-xl) {
  .lst-cards-container {
    margin-top: 0px;
  }
}