@use '../0-helpers/variables' as *;


:host {
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 50px;
        margin-bottom: 50px;
        gap: 20px;
    }

    img {
        max-width: 125px;
    }
}
