@use '../0-helpers/variables' as *;

:host {
  display: block;
}

:host > h2 {
  margin-bottom: 8px;
}

nav {
  margin-bottom: 20px;
}

.projects-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin: 0 auto;
}

/* ---------------------- Media query ----------------------------*/
@media only screen and (min-width: $min-width-m) {
  .projects-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: $min-width-xl) {
  .projects-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }
}
