@use '../0-helpers/variables' as *;

$size-ratio: 0.4;

.toggle_checkbox {
  display: none;
}

label {
  display: block;
  width: 116px * $size-ratio;
  height: 58px * $size-ratio;
  margin: 0 auto;
  // border: 1px solid $primary;
  background-color: $light;
  border-radius: 56px;
  transform: translateY(-50%);
  cursor: pointer;
  transition: 0.3s ease background-color;
  overflow: hidden;
}

.star-ctn {
  position: absolute;
  top: 13px * $size-ratio;
  left: 16px * $size-ratio;
  width: 28px * $size-ratio;
  height: 28px * $size-ratio;
  background-color: $primary;
  transform: scale(1);
  border-radius: 50%;
  transition: 0.3s ease top, 0.3s ease left, 0.3s ease transform,
    0.3s ease background-color;
  z-index: 1;
}

.star {
  top: -1px * $size-ratio;
  left: -8px * $size-ratio;
  font-size: 45px * $size-ratio;
  line-height: 28px * $size-ratio;
  color: $primary;
  transition: 0.3s ease color;
}

.star-1 {
  position: relative;
}

.star-2 {
  position: absolute;
  transform: rotateZ(36deg);
}

.moon {
  position: absolute;
  bottom: -52px * $size-ratio;
  right: 8px * $size-ratio;
  width: 40px * $size-ratio;
  height: 40px * $size-ratio;
  background-color: #fff;
  border-radius: 50%;
  transition: 0.3s ease bottom;
}

.moon:before {
  content: '';
  position: absolute;
  top: -12px * $size-ratio;
  left: -17px * $size-ratio;
  width: 40px * $size-ratio;
  height: 40px * $size-ratio;
  background-color: $light;
  border-radius: 50%;
  transition: 0.3s ease background-color;
}

.toggle_checkbox:checked+label {
  background-color: $dark;
}

.toggle_checkbox:checked+label .star-ctn {
  top: 6px * $size-ratio;
  left: 64px * $size-ratio;
  // left: 58px * $size-ratio;
  transform: scale(0.3);
  background-color: $primary;
}

.toggle_checkbox:checked+label .star {
  color: $primary;
}

.toggle_checkbox:checked+label .moon {
  bottom: 8px * $size-ratio;
}

.toggle_checkbox:checked+label .moon:before {
  background-color: $dark;
}