<nav class="tabbar">
  <div class="container-burger">
    <app-burger></app-burger>
  </div>
  <div class="current-page">
    <p>{{pageActiveName}}</p>
  </div>
  <ul>
    <li class="home" [class.active]="itemMenuActif()===routerLinkHome">
      <label class="home" [routerLink]="routerLinkHome" [queryParams]="{lang: language()}" routerLinkActive="active">
        <img class="photo" src="./../../../../assets/images/PhotoCv.jpg" alt="Mathieu LE BELLEC">
        <span class="txt">{{ uiText.navTxt.homeTitle }}</span>
      </label>
    </li>
    <li [class.active]="itemMenuActif()===routerLinkAbout">
      <label [routerLink]="routerLinkAbout" [queryParams]="{lang: language()}" routerLinkActive="active">
        <app-svg-info></app-svg-info>
        <span class="txt">{{ uiText.navTxt.aboutTitle }}</span>
        <span class="bubble"></span>
      </label>
    </li>
    <li [class.active]="itemMenuActif()===routerLinkProjects">
      <label [routerLink]="routerLinkProjects" [queryParams]="{lang: language()}" routerLinkActive="active">
        <app-svg-work></app-svg-work>
        <span class="txt">{{ uiText.navTxt.projectsTitle }}</span>
        <span class="bubble"></span>
      </label>
    </li>
    <li [class.active]="itemMenuActif()===routerLinkContacts">
      <label [routerLink]="routerLinkContacts" [queryParams]="{lang: language()}" routerLinkActive="active">
        <app-svg-phone></app-svg-phone>
        <span class="txt">{{ uiText.navTxt.contactTitle }}</span>
        <span class="bubble"></span>
      </label>
    </li>
  </ul>
  <div class="container-btn">
    <app-btn-dark-mode></app-btn-dark-mode>
  </div>
</nav>