<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 500 500">
  <defs>
    <style>
      .cls-7 {
        clip-path: url(#clip-path-2);
      }
    </style>
    <clipPath id="clip-path">
      <circle class="cls-1" cx="250" cy="250" r="250" />
    </clipPath>
    <clipPath id="clip-path-2">
      <circle class="cls-2" cx="770" cy="250" r="250" />
    </clipPath>
  </defs>
  <g id="fr">
    <g class="cls-3">
      <rect class="cls-4" x="-24.44" y="-60.59" width="185.99" height="615.94" />
      <rect class="cls-5" x="334.26" y="-40.06" width="185.99" height="615.94" />
      <rect class="cls-6" x="161.55" y="-44.89" width="172.71" height="615.94" />
    </g>
    <circle class="cls-1" cx="250" cy="250" r="250" />
  </g>
  <g id="en">
    <circle class="cls-4" cx="770" cy="250" r="250" />
    <g class="cls-7">
      <rect class="cls-6" x="428.67" y="187.29" width="658.51" height="123.19" />
      <rect class="cls-8" x="484.83" y="213.56" width="567.93" height="69.75" />
    </g>
    <circle class="cls-1" cx="770" cy="250" r="250" />
  </g>
</svg>