:host{
  .cls-1 {
    fill: none;
  }

  .cls-1,
  .cls-2 {
    stroke: #fff;
    stroke-miterlimit: 10;
    stroke-width: 0.5px;
  }

  .cls-2,
  .cls-4 {
    fill: #2158a6;
  }

  .cls-3 {
    clip-path: url(#clip-path);
  }

  .cls-5 {
    fill: #da202b;
  }

  .cls-6 {
    fill: #fff;
  }

  .cls-8 {
    fill: #d6202a;
  }
}