@import "helpers-dir";

$skill-logo-s: 40px;
$skill-bar-outside-c: $secondary-light;
$skill-bar-inside-c: $primary;

.skill {
  display: flex;
  align-items: center;
  justify-content: center;

  .logo {
    margin: auto 0;
    height: 100%;
    width: $skill-logo-s;
    margin-right: 10px;

    .svg-skill {
      position: relative;
      height: 100%;
      display: block;

      svg {
        position: relative;
        display: block;
        height: 100%;
        top: 50%;
      }
    }
  }

  .skill-infos {
    .desc {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    svg {
      width: 100%;
      height: 6px;

      path {
        // stroke-width: 1.72;

        &.outside-bar {
          stroke: $skill-bar-outside-c;
        }

        &.inside-bar {
          stroke: $skill-bar-inside-c;
          stroke-dasharray: 100, 100;
        }
      }
    }
  }
}