@import "helpers-dir";

$skill-logo-s: 30px;
$skill-bar-outside-c: $secondary-light;
$skill-bar-inside-c: $primary;
$skill-bar-height: 30px;
$skill-bar-border-radius: 5px;

.skill {
  display: flex;
  align-items: center;
  justify-content: center;

  .logo {
    margin: auto 0;
    height: 100%;
    width: $skill-logo-s;
  }

  .skill-infos {
    .desc {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    svg {
      width: 100%;
      height: 100%;

      path {
        stroke-width: "1.72";

        &.outside-bar {
          stroke: $skill-bar-outside-c;
        }

        &.inside-bar {
          stroke: $skill-bar-inside-c;
          stroke-dasharray: 100, 100;
        }
      }
    }
  }
}