@import "styles";

$bar-height: 30px;
$bar-border-radius: 5px;

.logoAndBar {
  margin: 23px 0px;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  .logo {
    margin: auto 0;
    height: 100%;
  }
  .progress {
    width: 90%;
    margin-left: 2%;
    background: $secondary;
    border: 1px solid $secondary-dark;
    border-radius: $bar-border-radius;

    .progress-bar {
      position: relative;
      background: $primary;
      height: $bar-height;
      border-radius: $bar-border-radius 0px 0px $bar-border-radius;

      h5 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        color: $txt-light;
        text-shadow: 1px 1px 1px $txt-dark;
      }
    }
  }
}
