<div class="carousel-container" >
  <ul id="carousel-slide-container" 
    class="carousel-slide-container"
    [@slideInOut]="{
      value: currentSlide,
      params: { slideWidthTotal: signedSlideWidth }
    }"
    (@slideInOut.done)="onAnimationDoneEvent($event)">
    <li *ngFor="let slide of evolutingLstSlide; let i = index">
      <app-recommendation-card 
        [person]="slide"
        [width]="getSlideWidth()">
      </app-recommendation-card>
    </li>
  </ul>
  <div class="carousel-controlers">
    <ul class="slider-navigation">
        <li 
          *ngFor="let slide of sSlides(); let i = index" 
          (click)="onNavClick(i)"
          [class.active]="i === navIndex">
        </li>
    </ul>
    <div class="slider-btns">
      <button class="slider-btn" (click)="previousSlide()">previous</button>
      <button class="slider-btn" (click)="nextSlide()">next</button>
    </div>
  </div>
</div>