<section class="section-services">
  <h2>{{uiText.recommendationsTitle}}</h2>
  <div class="carousel-container" >
    <ul id="carousel-slide-container"
      class="carousel-slide-container"
      [@slideInOut]="{
        value: currentSlide,
        params: { slideWidthTotal: signedSlideWidth }
      }"
      (@slideInOut.done)="onAnimationDoneEvent($event)">
      @for (slide of evolutingLstSlide; track slide.id; let i = $index) {
        <li>
          <app-recommendation-card
            [person]="slide"
            [width]="getSlideWidth()">
          </app-recommendation-card>
        </li>
      }
    </ul>
    <div class="carousel-controlers">
      <ul class="slider-navigation">
        @for (slide of slides; track slide; let i = $index) {
          <li
            (click)="onNavClick(i)"
            [class.active]="i === navIndex">
          </li>
        }
      </ul>
      <div class="slider-btns">
        <button class="slider-btn" (click)="previousSlide()">previous</button>
        <button class="slider-btn" (click)="nextSlide()">next</button>
      </div>
    </div>
  </div>
</section>

