:host {
  .cls-1 {
    fill: #e7a52c;
  }

  .cls-2 {
    fill: #f1bf22;
  }

  .cls-3 {
    fill: #eceded;
  }

  .cls-4 {
    fill: #ebd9b8;
  }

  .cls-5 {
    fill: #f1bd1c;
  }

  .cls-6 {
    fill: #f0bc1c;
  }

  .cls-7 {
    fill: #edf1f4;
  }

  .cls-8 {
    fill: #e8a124;
  }

  .cls-9 {
    fill: #e6a224;
  }

  .cls-10 {
    fill: #e7a225;
  }

  .cls-11 {
    fill: #edf2f9;
  }

  .cls-12 {
    fill: #edf1f8;
  }

  .cls-13 {
    fill: #e7a124;
  }

  .cls-14 {
    fill: #e9af4b;
  }

  .cls-15 {
    fill: #ecd7b2;
  }

  .cls-16 {
    fill: #eab85f;
  }

  .cls-17 {
    fill: #020202;
  }

  .cls-18 {
    fill: #040404;
  }

  .cls-19 {
    fill: #fff;
  }

  .cls-20 {
    fill: #fffffe;
  }

  .cls-21 {
    fill: #f0bd1c;
  }

  .cls-22 {
    fill: #f0ba1c;
  }

  .cls-23 {
    fill: #edeff3;
  }

  .cls-24 {
    fill: #edf2fa;
  }

  .cls-25 {
    fill: #e7a32a;
  }
}
