:host {
  .cls-1 {
    fill: #ed1e25;
  }

  .cls-2 {
    fill: #a2becc;
  }

  .cls-3 {
    fill: #8aadbe;
  }

  .cls-4 {
    fill: #789eb2;
  }

  .cls-5 {
    fill: #b8cdd8;
  }

  .cls-6 {
    fill: #a7c0ce;
  }

  .cls-7 {
    fill: #82a8bb;
  }

  .cls-8 {
    fill: #9ebbca;
  }

  .cls-9 {
    fill: #9dbbca;
  }

  .cls-10 {
    fill: #a1bdcc;
  }

  .cls-11 {
    fill: #789fb2;
  }

  .cls-12 {
    fill: #fff;
  }
}
